USE [master]
GO
/****** Object:  Database [CientDirectory]    Script Date: 2020/10/22 09:19:01 ******/
CREATE DATABASE [CientDirectory]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'CientDirectory', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\CientDirectory.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'CientDirectory_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\CientDirectory_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CientDirectory].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [CientDirectory]
GO
/****** Object:  Table [dbo].[ClientInfo]    Script Date: 2020/10/22 09:19:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ClientInfo](
	[ClientId] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [varchar](100) NULL,
	[LastName] [varchar](100) NULL,
	[MobileNumber] [varchar](50) NULL,
	[IdNumber] [varchar](25) NULL,
	[PhysicalAddress] [varchar](150) NULL
) ON [PRIMARY]
GO
USE [master]
GO
