<div class="container" id="body-card">
  <h3 class="d-flex justify-content-center">Client Directory</h3>
  <h5 class="d-flex justify-content-center">Portal</h5>
  <nav class="navbar navbar-expand-sm bg-light navbar-dark bg-primary">
    <ul class="navbar-nav">
      <li class="nav-item">
        <button routerLink="clients"  class="btn btn-primary"> Clients </button>
      </li>
      &nbsp; 
      <li>
        <button routerLink="about"  class="btn btn-primary"> Developer </button>
      </li>
    </ul>
  </nav>
  <router-outlet></router-outlet>
</div>
<app-footer></app-footer>
