/* You can add global styles to this file, and also import other style files */
body {
    margin: 20px;
}

#body-card {
    background: -webkit-linear-gradient(left, #0072ff, #00c6ff);
    padding: 15px;
}